<div class="main">
  <h1>ng-foobar demo</h1>
  <hr/>
  <strong>Click any of the buttons below to see ng-foobar in action. To hide the notification simply click on it.</strong>
  <br/>
  <button type="button" ng-click="showMessage('success', 'Success message')">success</button>
  <button type="button" ng-click="showMessage('info', 'Info message')">info</button>
  <button type="button" ng-click="showMessage('warning', 'Warning message')">warning</button>
  <button type="button" ng-click="showMessage('error', 'Error message')">error</button>
</div>

<div class="footer"><a target="_blank" href="https://github.com/jnwelzel/ng-foobar">Github</a></div>
